*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

body
{
    width: 100%;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(#87cEE8,#ffC5c5);
}
/* .left_container ,
.right_container
{
    border: 1px solid black;
} */
.contact_container
{
    display: flex;
    /* border: 4px solid red; */
    height: 100vh;
    justify-content: center;
    align-items: center;

}
.left_container{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.left_container h2
{
font-weight: 700;
color: #a363aa;
font-size: 40px;
margin-bottom: 5px;

}
.left_container hr{
    border: none;
    width: 120px;
    background-color: #a363aa;
    height: 5px;
    border-radius: 10px;
}
.contact_inputs,textarea
{
    width: 400px;
    height: 50px;
    border: 0;
    outline: none;
    border-radius: 50px;
    padding-left: 25px;
    color: #666;
    font-weight: 600;
}
.left_container textarea{
    height: 140px;
    border-radius: 20px;
    /* width: 400px;
    border: 0;
        outline: none;
        border-radius: 50px;
        padding-left: 25px;
        color: #666;
        font-weight: 600; */
}
.left_container button
{
    border: 0;
    outline: none;
    background:linear-gradient(270deg,#ff994f,#fabd86);
    font-size: 16px;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 50px;
    display: flex;
    align-content: baseline;
    justify-content: center;
    gap: 10px;
}
.contact_inputs:focus,textarea:focus
{
    border: 2px solid #ff994f;
}
.left_container button:hover{
    filter: brightness(120%);
    font-weight: 800;
}
@media (max-width:800px)
{
    .right_container
    {
        display: none;
    }
}
